.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #1e1e1e 0%, #2c2c2c 100%);
}

.auth-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #333;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

mat-card-title {
  color: #fff;
}

mat-card-subtitle {
  color: #aaa;
  margin-bottom: 24px;
}
